<!-- <button (click)="snapshot()" type="button">Start Streaming</button>  -->
<h3>Expression Analysis</h3>
<div class="col-xs-12 video-content">
	<video width="100%" height="auto" autoplay controls>
	  
	</video>
</div>
<!-- <img src="">
<canvas style="display:none;"></canvas>
<a></a> -->
<div class="col-xs-12">
	<button class="btn btn-primary col-xs-4" (click)="startVideoCapture()" type="button">Start Capturing</button> 
	<button class="btn btn-primary col-xs-4" (click)="stopRecording()" type="button">Stop Capturing</button> 
	<button class="btn btn-primary col-xs-4" (click)="analyzeVideo()" type="button">Analyze Video</button> 
</div>
<div class="analysis-status" *ngIf="analysisInProgress">
	Analysis in progress... Please Wait...
	<div *ngFor="let status of analysisStatus">
		{{status}}
	</div>
</div>
<div class="analysis-results" *ngIf="analysisCompleted && analysisResult">Results - 
	<br>Anger : {{analysisResult.anger}}
	<br>Contempt : {{analysisResult.contempt}}
	<br>Disgust : {{analysisResult.disgust}}
	<br>Fear : {{analysisResult.fear}}
	<br>Happiness : {{analysisResult.happiness}}
	<br>Neutral : {{analysisResult.neutral}}
	<br>Sadness : {{analysisResult.sadness}}
	<br>Surprise : {{analysisResult.surprise}}
</div>