:host{
  text-align:center;
  padding:20px;
  float:left;
  color:cornflowerblue;
  .video-content{
    border: 1px dotted grey;
    border-radius : 4px;
    padding:5px;
    margin-bottom:10px;
  }
  .analysis-results{
    float: left;
    width: 100%;
    text-align: left;
    padding: 15px;
  }
  .analysis-status{
    float: left;
    width: 100%;
    text-align: left;
    padding: 15px;
  }
}